/* src/App.css */
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

/*
.App-content {
  z-index: 3; 
  text-align: center;
}
*/

.App-link {
  color: #61dafb;
  font-size: 1.5rem;
  text-decoration: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Roboto', sans-serif;  /* Apply Roboto font globally */
}

.App-content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.App-content.fade-in {
  opacity: 1;  /* Gradually fade in after loading */
}

headline,
.search-bar {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

