.header {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;  /* Align the content to the right */
  align-items: center;
  padding: 15px 25px;
  position: fixed;
  top: 0;
  right: 0;  /* Ensure it sticks to the right */
  width: 100vw;  /* Full width of the viewport */
  z-index: 1000;
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.github-logo {
  font-size: 33px;
  color: #333;
  transition: color 0.3s ease;
}

.github-logo:hover {
  color: #4078c0;  /* GitHub blue */
}
