.page-loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  opacity: 1;  /* Default opacity */
  transition: opacity 1s ease-out;  /* Smooth opacity transition over 1 second */
}

.page-loader-container.fade-out {
  opacity: 0;  /* Fade out when loader disappears */
}

